<div class="container">
    <header>
    <h1 class="add">Thunder Burger !</h1>
    </header>

    <div class="card">
            <div class="row">
                <div class="col-md-6 column-container">
                    <h3>burgers ready!</h3>
                    <table>
                        <tbody>
                            {{#each burgers}}
                                {{#unless devoured}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.burger_name}}</td>
                                    <td><button 
                                    type='button' 
                                    class='btn btn-success btn-md btn-details' 
                                    data-id='{{this.id}}'
                                    >Devour !</button></td>
                                </tr>
                                {{/unless}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 column-container">
                    <h3>burgers devoured</h3>
                    <table>
                        <tbody>
                            {{#each burgers}}
                                {{#if devoured}}
                                <tr>
                                    <td>{{this.id}}</td>
                                    <td>{{this.burger_name}}</td>
                                    <td><button 
                                    type='button' 
                                    class='btn btn-dark btn-md btn-details'
                                    data-id='{{this.id}}'
                                    >Remove</button></td>
                                </tr>
                                {{/if}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

    </div>

            <div class="row justify-content-md-center">
                <div class="col-md-auto form">
                    <h3 class="add">add a burger</h3>
                    <form class='create-form'>
                        <div class='form-group'>
                            <div>
                                <input 
                                class="input-group-field" 
                                name='burger_name' 
                                type='text' placeholder='Yum!'>
                                <div class='input-group-button'>
                                    <input type='submit' 
                                    class='btn btn-dark btn-lg btn-order' 
                                    value='Order'>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
</div>
   